@import "./custom-styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@layer components {
  .text-gradient-hero {
    @apply bg-gradient-to-r from-[#a0e65d] to-[#79cc52] bg-clip-text font-bold text-transparent;
  }

  .bg-glass {
    @apply bg-gray-300 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-30 border border-gray-100;
  }

  .moving-gradient {
    background: linear-gradient(
      -45deg,
      #ff0099,
      #2200ff,
      #ae00ff,
      #ff0099,
      #ae00ff
    );
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
